# Docker stuff:
Dockerfile
docker-compose.yml
.dockerignore

# editor files:
.vscode/
.editorconfig

# Git stuff:
.git/
.gitignore

# Heroku stuff:
Procfile
runtime.txt

# database container
database/
